<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="landing.component.css">
</head>

<body>

    <div class="container">
        <h2 class="my-4 text-center">{{titulo}}</h2>

        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let character of data">
                <div class="card h-100">
                    <a [routerLink]="['/character', character.id]">
                        <img class="card-img-top" [src]="character.image" alt="{{ character.name }}" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ character.name }}</h5>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-between my-4">
            <button class="btn btn-primary" (click)="PaginaAnterior()">Página Anterior</button>
            <button class="btn btn-primary" (click)="SiguientePagina()">Siguiente Página</button>
        </div>
    </div>

</body>

</html>
